// Colors
$cyan: #08fdd8;
$grey: #252627;
$dark-grey: rgb(24, 24, 24);
$navbar-grey: #4d4d4e;

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

